extends ../base.pug
block content
  script(src="/js/home.js")
  .panel.panel-default
    .panel-body
      .row#dashboard-tech
        h1 tech
        p { hotkey#{' '}
          kbd
            kbd a
            | ,#{' '}
            kbd t
          | #{' '}}
      .row#dashboard-dev
        h1 dev
        p { hotkey#{' '}
          kbd
            kbd a
            | ,#{' '}
            kbd d
          | #{' '}}
      .row#dashboard-social
        h1 social
        p { hotkey#{' '}
          kbd
            kbd a
            | ,#{' '}
            kbd s
          | #{' '}}
      .row#dashboard-other
        h1 other
  //
    TODO:
    shortcut help
