extends ../base.pug
block content
  script(src="/js/home.js")
  .panel.panel-default
    .panel-body
      .row#dashboard-tech
        .row-title
          h1 tech
          span.helper #{' '}
          span.hidden-xs.hidden-sm { hotkey#{' '}
            kbd
              kbd a
              | ,#{' '}
              kbd t
            | #{' '}}
      .row#dashboard-dev
        .row-title
          h1 dev
          span.helper #{' '}
          span.hidden-xs.hidden-sm { hotkey#{' '}
            kbd
              kbd a
              | ,#{' '}
              kbd d
            | #{' '}}
      .row#dashboard-social
        .row-title
          h1 social
          span.helper #{' '}
          span.hidden-xs.hidden-sm { hotkey#{' '}
            kbd
              kbd a
              | ,#{' '}
              kbd s
            | #{' '}}
      .row#dashboard-other
        h1 other
  //
    TODO:
    shortcut help
